<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>PetBoss11_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,82},{40,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,35}}</string>
			<key>sourceSize</key>
			<string>{40,35}</string>
		</dict>
		<key>PetBoss12_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,118},{40,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,34}}</string>
			<key>sourceSize</key>
			<string>{40,34}</string>
		</dict>
		<key>PetBoss13_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,44},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>PetBoss11_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,42},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>PetBoss12_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,81},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>PetBoss13_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{212,2},{40,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,38}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>PetBoss11_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,204},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>PetBoss12_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,186},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>PetBoss13_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{69,207},{40,21}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,21}}</string>
			<key>sourceSize</key>
			<string>{40,21}</string>
		</dict>
		<key>PetBoss11_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,43},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>PetBoss12_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,82},{40,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,34}}</string>
			<key>sourceSize</key>
			<string>{40,34}</string>
		</dict>
		<key>PetBoss13_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{128,2},{40,39}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>sourceSize</key>
			<string>{40,39}</string>
		</dict>
		<key>PetBoss11_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,60},{40,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,53}}</string>
			<key>sourceSize</key>
			<string>{40,53}</string>
		</dict>
		<key>PetBoss12_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,115},{40,51}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,51}}</string>
			<key>sourceSize</key>
			<string>{40,51}</string>
		</dict>
		<key>PetBoss13_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{40,56}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,56}}</string>
			<key>sourceSize</key>
			<string>{40,56}</string>
		</dict>
		<key>PetBoss11_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,119},{40,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,32}}</string>
			<key>sourceSize</key>
			<string>{40,32}</string>
		</dict>
		<key>PetBoss12_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,153},{40,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,31}}</string>
			<key>sourceSize</key>
			<string>{40,31}</string>
		</dict>
		<key>PetBoss13_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,119},{40,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,33}}</string>
			<key>sourceSize</key>
			<string>{40,33}</string>
		</dict>
		<key>PetBoss11_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>PetBoss12_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,42},{40,37}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,37}}</string>
			<key>sourceSize</key>
			<string>{40,37}</string>
		</dict>
		<key>PetBoss13_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,212},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{40,41}</string>
		</dict>
		<key>PetBoss11_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,181},{40,24}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,24}}</string>
			<key>sourceSize</key>
			<string>{40,24}</string>
		</dict>
		<key>PetBoss12_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,154},{40,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,25}}</string>
			<key>sourceSize</key>
			<string>{40,25}</string>
		</dict>
		<key>PetBoss13_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,207},{40,23}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,23}}</string>
			<key>sourceSize</key>
			<string>{40,23}</string>
		</dict>
		<key>PetBoss11_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,81},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>PetBoss12_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,83},{40,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,34}}</string>
			<key>sourceSize</key>
			<string>{40,34}</string>
		</dict>
		<key>PetBoss13_09.png</key>
		<dict>
			<key>frame</key>
			<string>{{86,44},{40,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,36}}</string>
			<key>sourceSize</key>
			<string>{40,36}</string>
		</dict>
		<key>PetBoss11_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,2},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>PetBoss12_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{170,2},{40,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,38}}</string>
			<key>sourceSize</key>
			<string>{40,38}</string>
		</dict>
		<key>PetBoss13_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,168},{40,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,42}}</string>
			<key>sourceSize</key>
			<string>{40,42}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>monsters.png</string>
		<key>size</key>
		<string>{256,256}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:6d59ab670ebae6daa7e8d320914b17b9:1/1$</string>
		<key>textureFileName</key>
		<string>monsters.png</string>
	</dict>
</dict>
</plist>
